<footer>
    <div class="top-section">
        <div class="footer-wrapper">
            <section class="main-info">
                <h3>Label <span class="text-bold">Vier</span></h3>
                <p>Printerweg 10 (4e verdieping)<br> 3821 AD Amersfoort</p>
                <a href="mailto:hallo@labelvier.nl">hallo@labelvier.nl</a>
            </section>

            <section class="diensten">
                <h3>Diensten</h3>
                <ul>
                    <li><a href="/">Label Vier methode</a></li>
                    <li><a href="/">Ons wetenschappelijk fundament</a></li>
                    <li><a href="/">Klantreizen</a></li>
                    <li><a href="/">UI design</a></li>
                    <li><a href="/">UX design</a></li>
                    <li><a href="/">Ontwikkeling</a></li>
                    <li><a href="/">Hosting & Support</a></li>
                    <li><a href="/">Status page</a></li>
                </ul>
            </section>

            <section class="informatie">
                <h3>Informatie</h3>
                <ul>
                    <li><a href="/">Jouw privacy</a></li>
                    <li><a href="/">Algemene voorwaarden</a></li>
                    <li><a href="/">Label Vier support</a></li>
                </ul>
                <a class="cookie-link" href="/">Cookie voorkeuren</a>
            </section>
        </div>
    </div>

    <section class="btm-section">
        <h2 class="text-bold">Als eerste onze blogs lezen?</h2>
        <form action="/" method="POST">
            <label for="emailadres" class="text-bold">E-mailadres</label>
            <input type="text" name="emailadres" id="emailadres" placeholder="e.g. th@gmail.com">
            <button class="aanmeld-btn" type="submit">Ik wil de nieuwsbrief</button>
        </form>
    </section>
</footer>

<script src="/scripts/footer.js"></script>