<Header class="main-header">
    <img src="/assets/label-vier-logo.avif" alt="">

    <nav class="main-menu">
        <ul class="menu-links">
            <li class="menu-item"><a href="/methode">methode</a></li>
            <li class="menu-item"><a href="/methode">diensten</a>
                <ul class="sub-menu">
                    <li class="sub-menu-item"><a href="#">persona's</a></li>
                    <li class="sub-menu-item"><a href="#">klantreizen</a></li>
                    <li class="sub-menu-item"><a href="#">contentstrategie</a></li>
                    <li class="sub-menu-item"><a href="#">UX design</a></li>
                    <li class="sub-menu-item"><a href="#">UI design</a></li>
                    <li class="sub-menu-item"><a href="#">ontwikkeling</a></li>
                    <li class="sub-menu-item"><a href="#">hosting & supports</a></li>
                </ul>
            </li>
            <li class="menu-item"><a href="/methode">over ons</a>
                <ul class="sub-menu">
                    <li class="sub-menu-item"><a href="#">werken bij</a></li>
                </ul>
            </li>
            <li class="menu-item"><a href="/methode">blog</a></li>
        </ul>
    </nav>

    <form class="search-nav" action="/">
        <input type="text" placeholder="Zoeken.." name="search">
        <button type="submit">Zoeken</button>
    </form>

    <a class="contact-btn" href="/">contact</a>
</Header>