<header class="header-desktop">
    <a class="logo" href="/">
        <img src="/assets/logo-label-vier.png" alt="Logo Label Vier" width="150" height="50">
    </a>

    <div class="wrapper-menu">
        <nav class="main-menu">
            <ul class="menu-links">
                <li class="menu-item"><a class="menu-btn" href="/methode">methode</a></li>
                <li class="menu-item">
                    <a class="dropdown-btn menu-btn" href="/diensten">diensten{% render
                        'public/assets/dropdown-icon.liquid' %}</a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item"><a class="submenu-btn" href="/diensten/personas">persona's</a></li>
                        <li class="sub-menu-item"><a class="submenu-btn" href="/diensten/personas">klantreizen</a></li>
                        <li class="sub-menu-item"><a class="submenu-btn"
                                href="/diensten/contentstrategie">contentstrategie</a></li>
                        <li class="sub-menu-item"><a class="submenu-btn" href="/diensten/ux-designs">UX design</a></li>
                        <li class="sub-menu-item"><a class="submenu-btn" href="/diensten/ui-designs">UI design</a></li>
                        <li class="sub-menu-item"><a class="submenu-btn" href="/diensten/ontwikkeling">ontwikkeling</a>
                        </li>
                        <li class="sub-menu-item"><a class="submenu-btn" href="/diensten/hosting&supports">hosting &
                                supports</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a class="dropdown-btn menu-btn" href="/methode">over ons{% render
                        'public/assets/dropdown-icon.liquid' %}</a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item"><a class="submenu-btn" href="#">werken bij</a></li>
                    </ul>
                </li>
                <li class="menu-item"><a class="menu-btn" href="/cases">werk</a></li>
                <li class="menu-item"><a class="menu-btn" href="/methode">blog</a></li>
            </ul>
        </nav>

        <a class="contact-btn blue-btn" href="/">contact</a>
    </div>
</header>

<header class="header-mobile">

    <input class="popup-btn" type="checkbox" id="hamburger-menu" />
    <label class="popup-btn" for="hamburger-menu"><img src="/assets/open-menu-icon.svg" width="27" height="27" alt="">menu</label>

    <nav class="top">
        <a class="logo" href="/">
            <img src="/assets/logo-label-vier.png" alt="Logo Label Vier" width="150" height="50">
        </a>
    </nav>

    <nav class="bottom">
        <form class="search-nav" action="/">
        <label for="search-input">Voer hier een zoekterm in:</label>
            <input type="text" placeholder="Zoeken.." name="search">
            <button type="submit"><img src="/assets/search-icon.svg" alt="" width="20" height="20"><span
                    class="sreenreader-label">Zoekem</span></button>
        </form>

        <ul class="menu-links">
            <li class="menu-item"><a class="menu-btn" href="/methode">methode</a></li>
            <li class="menu-item">
                <input type="checkbox" id="dropdown-services" class="dropdown" /><label for="dropdown-services" class="dropdown-link dropdown-btn">diensten{% render
                    'public/assets/dropdown-icon.liquid' %}</label>
                <ul class="sub-menu">
                    <li class="sub-menu-item"><a href="#">persona's</a></li>
                    <li class="sub-menu-item"><a href="#">klantreizen</a></li>
                    <li class="sub-menu-item"><a href="#">contentstrategie</a></li>
                    <li class="sub-menu-item"><a href="#">UX design</a></li>
                    <li class="sub-menu-item"><a href="#">UI design</a></li>
                    <li class="sub-menu-item"><a href="#">ontwikkeling</a></li>
                    <li class="sub-menu-item"><a href="#">hosting & supports</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <input type="checkbox" id="dropdown-about" class="dropdown" /><label for="dropdown-about" class="dropdown-link dropdown-btn">over ons{% render
                    'public/assets/dropdown-icon.liquid' %}</label>
                <ul class="sub-menu">
                    <li class="sub-menu-item"><a href="#">werken bij</a></li>
                </ul>
            </li>
            <li class="menu-item"><a class="menu-btn" href="/cases">werk</a></li>
            <li class="menu-item"><a class="menu-btn" href="/methode">blog</a></li>
            <li class="menu-item"><a class="menu-btn" href="/contact">contact</a></li>
        </ul>
    </nav>
</header>