{% render "partials/head.liquid" %}

<main class="error-sectie">
    <img class="banner" src="/assets/label-vier-banner.webp" width="300" height="400" alt="Label Vier Eric en Vincent strategiesessie">
    <section class="error-info">
        <h1><span class="text-bold">404 error</span><br>Oeps deze pagina lijkt niet te bestaan</h1>
        <p>De pagina waar je naar op zoek bent lijkt niet te bestaan. Bezoek onze andere pagina’s of ga terug naar home.</p>
        <ul class="error-menu">
            <li><a href="#">methode</a></li>
            <li><a href="#">diensten</a></li>
            <li><a href="#">over ons</a></li>
            <li><a href="#">werk</a></li>
            <li><a href="#">blog</a></li>
            <li><a href="#">contact</a></li>
        </ul>
    </section>
</main>

{% render "partials/foot.liquid" %}