{% render "partials/head.liquid" %}

<section class="cases-section">
    <h1>Cases</h1>

    <ul class="cases">
        {% for case in cases %}
        <li class="case">
            <a href="/cases/{{ case.slug }}">
                <img src="{{ case.yoast_head_json.og_image[0].url }}" alt="" width="400" height="400">
                <section class="case-info">
                    <h2>{{ case.title.rendered | truncatewords: 8 }}</h2>
                    <p>{{ case.yoast_head_json.og_description | truncatewords: 20 }}</p>
                    <span>Lees verder<img src="/assets/arrow-right.svg" alt="" width="13" height="13"></span>
                </section>
            </a>
        </li>
        {% endfor %}
    </ul>

</section>

<section class="mogelijkheden">
    <h2>Wat kunnen we voor jou betekenen?</h2>
    <a href="/">Bekijk de mogelijkheden</a>
</section>