{% render "partials/head.liquid" %}

<section class="section-home">
    <h1>Home</h1>
    <a class="red-btn" href="/cases/page/1">Naar werk</a>
</section>

<script src="/scripts/menu.js"></script>

{% render "partials/footer.liquid" %}