.cases-section {
    padding: 7em 2em 3em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.cases {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.case a {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    &:hover .case-info span img {
        margin-left: 3em;
        transition: .2s ease-in-out;
    }
}

.wrapper-image {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    figure {
        width: 100%;
    }
}

.wrapper-image .banner {
    width: 100%;
    height: 14em;
    object-fit: cover;
    display: block;
}

.wrapper-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.172);
    transition: .2s ease-in-out;
}

.case a:hover .wrapper-image::before {
    background: rgba(0, 0, 0, 0.1);
    transition: .2s ease-in-out;
}

.wrapper-image .logo {
    width: 14em;
    height: auto;
    position: absolute;
}

.case-info {
    display: flex;
    flex-direction: column;
    gap: 1em;

    h3 {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }

    mark {
        display: inline;
        background-size: 0% 100%;
        transition: .5s ease;
        background-repeat: no-repeat;
        background-color: transparent;
        background-image: linear-gradient(transparent 10%, #000 15%, #000 67%);
    }

    span {
        display: flex;
        align-items: center;
        gap: .4em;
        font-weight: 700;

        img {
            transition: .2s ease-in-out;
        }
    }
}

.case a:hover mark {
    background-size: 100% 100%;
    color: #fff;
}

.pagination {
    padding: 0 2em 3em 2em;
}

.mogelijkheden {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0 2em 4em 2em;
}

@media screen and (min-width: 720px) {
    .cases-section {
        padding: 7em 4em 3em;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .cases {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        gap: 0;
    }

    .case a {
        display: flex;
        gap: 0;
        flex-direction: row;

        .wrapper-case-info {
            padding: 3.5em;
            width: 50%;
            display: flex;
            justify-content: center;

            .case-info {
                width: 100%;
                justify-content: center;
                /* padding: 2.5em; */

            }
        }

    }

    .case:nth-child(even) a {
        flex-direction: row-reverse;
    }

    .case:nth-child(even) .wrapper-case-info {
        padding: 3.5em 3.5em 3.5em 0;
    }

    .wrapper-image {
        width: 50%;

        figure {
            height: 100%;

            .banner {
                min-height: 100%;
                object-fit: cover;
                display: block;
            }
        }
    }

    .pagination {
        padding: 0em 4em 3em;
    }

    .mogelijkheden {
        padding: 0em 4em 4em;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .cases-section {
        padding: 8em 13em 3em;
        gap: 3em;
    }

    .pagination {
         padding: 0em 13em 3em;
    }

    .mogelijkheden {
        padding: 1em 13em 4em;
    }

}