/* Mobiele menu */
.header-mobile {
    @media screen and (min-width: 920px) {
        display: none;
    }
}

.header-mobile .top {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary-background-color);
    display: flex;
    justify-content: center;
    padding: .7em 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.122),
        0 6px 20px 0 rgba(143, 143, 143, 0.006);
    z-index: 99;

    & .logo img {
        width: 140px;
        height: auto;
    }
}

.header-mobile .bottom {
    position: fixed;
    width: 100%;
    padding: 2em 2em 3.5em 2em;
    bottom: -999px;
    background-color: var(--primary-background-color);
    transition: .3s ease-in-out;
    z-index: 99;
}

.header-mobile .bottom .menu-links {
    display: flex;
    flex-direction: column;
    padding: 1.5em 0 0 0;
    gap: .5em;
}

.header-mobile .bottom .menu-links .menu-item a {
    font-size: 24px;
    font-weight: 700;
    justify-content: space-between;
    padding: .5em;
    align-items: center;
}

.header-mobile .bottom .menu-links .menu-item .sub-menu .sub-menu-item a {
    font-size: 18px;
}

.popup-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--blue-highlight-color);
    color: var(--secondary-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95px;
    width: 95px;
    gap: .3em;
    z-index: 10000;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.popup-btn input {
    height: 5.5em;
    width: 6.5em;
}

#hamburger-menu:checked~.bottom {
    bottom: 0;
    transition: .3s ease-in-out;
}

label.popup-btn::after {
    content: 'menu';
    transition: .3s ease-in-out;
}

#hamburger-menu:checked+label img {
    content: url('/assets/sluiten-menu-icon.svg');
}

form.search-nav {
    position: relative;
}

.search-nav input {
    width: 100%;
    background-color: var(--secondary-background-color);

    &::placeholder {
        color: rgb(31, 31, 31);
    }
}

.search-nav button {
    position: absolute;
    top: .7em;
    right: .7em;
}

/* Sub menu */
.header-mobile .sub-menu {
    display: none;
    transition: .3s ease-in-out;
    line-height: 100%;
}

#dropdown {
    width: 100%;
    position: absolute;
    height: 4em;
    cursor: pointer;
    appearance: none;
    background-color: #00000000;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: var(--primary-text-color);
        z-index: -1;
        transition: .5s;
    }

    &:hover::before {
        width: 100%;
    }
}

#dropdown:hover+.dropdown-link {
    color: #fff;
}

#dropdown:hover+.dropdown-link svg path {
    fill: #fff;
}

#dropdown:hover+.dropdown-link svg {
    transform: scaleY(-1);
}

#dropdown:hover+.dropdown-link {
    color: #fff;
}

#dropdown:checked~.sub-menu {
    display: block;
    transition: .3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.dropdown-link {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    padding: .5em;
    justify-content: space-between;
    align-items: center;

    svg {
        width: .9em;
    }
}

.header-mobile .sub-menu.open {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    gap: .3em;
    transition: .3s ease-in-out;
}

.header-mobile .menu-item {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.bottom .sub-menu-item a {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-weight: 600;
    transition: .5s;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    align-self: baseline;
    padding: .6em 1em !important;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: var(--red-highlight-color);
        z-index: -1;
        transition: .5s;
    }

    &:hover::before {
        width: 100%;
    }

    &:hover {
        color: var(--secondary-text-color);
    }
}

.header-mobile .sub-menu-item:nth-of-type(1) {
    margin-top: .5em;
}

/* ------------------ Desktop header ----------------- */
.header-desktop {
    display: none;

    .logo {
        display: flex;
        align-items: center;
    }

    @media screen and (min-width: 920px) {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: .8em 6em;
        background-color: #fff;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.122);
        position: fixed;
        top: 0;
        z-index: 9999;
    }
}

.header-desktop .main-menu {
    display: flex;
    align-items: center;
}

.header-desktop .main-menu .menu-links {
    display: flex;
    align-items: center;
}

.header-desktop .menu-item {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.header-desktop .sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    top: 4em;
    display: none;
    display: flex;
    flex-direction: column;
    border: 1px solid #e6e6e6;
    box-shadow: 8px 0 0 -4px #e6e6e6,
        -8px 0 0 -4px #e6e6e6;
    width: 15em;
    overflow: hidden;
}

.header-desktop .menu-item:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    display: block;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: 8px 0 0 -4px #e6e6e6,
        -8px 0 0 -4px #e6e6e6;
    width: 15em;
}

.header-desktop .main-menu .menu-links li a {
    font-weight: 700;
}

.header-desktop .dropdown-btn {
    display: flex;
    align-items: center;
    gap: .5em;
}

.dropdown-btn:hover svg {
    transform: scaleY(-1);
    transition: transform 0.4s ease;
    display: inline-block;
}

.dropdown-btn:hover path {
    fill: #fff;

}

.header-desktop .search-nav {
    width: 3em;
}

.header-desktop .search-nav input {
    display: none;
}

.wrapper-menu {
    display: flex;
    gap: 1em;
    align-items: center;
}

.search-icon {
    margin: 0 1em 0 0;
}